<div class="header">
    <h1 class="headerTitle">Die Mathe App</h1>
</div>

<button class='btn menuBtn'  routerLink="/classselection" (click)="setMode()">Quiz</button>
<a href="https://diematheapp.de/team-duell">
    <button class='btn menuBtn'>Team Duell</button>
</a>

<button class='btn menuBtn'  routerLink="/" disabled>Hausaufgaben</button>
<button class='btn menuBtn'  routerLink="/" disabled>Knobelaufgaben</button>

<p>Show Exercise</p>
<button (click)="getExercise()">Get exercise</button>

<app-exercises-list [exercises]="exercisesClass5$ | async"></app-exercises-list>



