<div class="header">
  <h1 class="headerTitle">Die Mathe App</h1>
</div>

<button
  class="btn menuBtn"
  routerLink="/classselection"
  (click)="setMode('quiz')"
>
  Quiz
</button>
<a href="https://diematheapp.de/team-duell">
  <button class="btn menuBtn" disabled>Team Duell</button>
</a>

<button class="btn menuBtn" routerLink="/" disabled>Hausaufgaben</button>
<button
  class="btn menuBtn"
  routerLink="/puzzle"
  (click)="setMode('puzzle')"
  disabled
>
  Knobelaufgaben
</button>
<button class="btn menuBtn" routerLink="/dynamicexercise">
  Grundrechenarten
</button>
