<div class="header">
  <h1 class="headerTitle">Wähle deine Klasse</h1>
</div>
<div class="main">
  <ul>
    <li
      *ngFor="let schoolClass of schoolClasses"
      (click)="selectSchoolClass(schoolClass.level)"
    >
    <button class="btn btnList classBtn" [disabled]="schoolClass.disabled" *ngIf="schoolClass.name; else classLevel">
      Klasse 1-12 ({{ schoolClass.name }})
    </button>
    <ng-template #classLevel>
      <button class="btn btnList classBtn" [disabled]="schoolClass.disabled">
        {{ schoolClass.level }}. Klasse
      </button>
    </ng-template>
    </li>
  </ul>
  <p>
    Deine Klasse ist nicht dabei? <br />
    Dann
    <a href="https://diematheapp.de/kontakt.html" target="_blank">schreib uns</a
    >.
  </p>
</div>
