/*ul {
  list-style-type: none;
  overflow: hidden;

  li {
    button {
      height: 48px;

      &:not([disabled]):focus {
        background-color: var(--clr-primary-lighter);
      }
    }
  }
}
*/
