p {
    color: darkgray;
    text-transform: uppercase;
    font-weight: bold;
}
/*
.header {
    background-color: var(--clr-light);
    padding: 1px 24px;
    margin: -16px -16px 20px -16px;
    font-weight: var(--fw-normal);
    box-shadow: 0px 2px 5px 0px var(--clr-shadow);
}
*/