<ng-container *ngIf="exercises$ | async as exercises">
  <div class="header">
    <h1 class="headerTitle">
      Frage {{ currentQuestion + 1 }} von {{ exercises.length }}
    </h1>
    {{ counter | countDown }}
  </div>
  <p class="question">{{ exercises[currentQuestion].question }}</p>

  <div class="options">
    <ul class="answerList">
      <li
        *ngFor="
          let option of exercises[currentQuestion].answerOptions;
          let i = index
        "
        class="answerListItem"
        (click)="
          onClickAnswer(option, exercises.length, exercises[currentQuestion])
        "
      >
        <button [id]="'option' + i" class="answerButton btn">
          {{ option.answerText }}
        </button>
      </li>
    </ul>
  </div>
</ng-container>
