<ng-container
  *ngIf="exercises$ | async as exercises; else loading"
  (load)="getCorrectAnswer1(exercises)"
>
  <div class="header">
    <h1 class="headerTitle">
      Frage {{ currentQuestion + 1 }} von {{ exercises.length }}
    </h1>
    <div id="countdown">{{ counter | countDown }}</div>
  </div>
  <p class="question">{{ exercises[currentQuestion].question }}</p>

  <div class="options">
    <ul class="answerList">
      <li
        *ngFor="
          let option of exercises[currentQuestion].answerOptions;
          let i = index
        "
        class="answerListItem"
        (click)="
          onClickAnswer(option, exercises.length, exercises[currentQuestion])
        "
      >
        <button
          [id]="'option' + i"
          class="answerButton btn"
          [disabled]="isDisabled"
        >
          {{ option.answerText }}
        </button>
      </li>
    </ul>
  </div>

  <div *ngIf="answerIsCorrect" class="correct">
    <p class="correctText feedback">Richtig!</p>
  </div>
  <div *ngIf="answerIsIncorrect" class="wrong">
    <p class="incorrectText feedback">Leider falsch! Probier es nochmal.</p>
  </div>
</ng-container>
<ng-template #loading>
  <p class="loading">Lade die nächste Aufgabe ...</p>
</ng-template>
