<div class="header">
  <h1 class="headerTitle">Frage {{ currentQuestion + 1 }} von {{ questionList.length }}</h1>
</div>

<div class="question">
    <!--<h3>{{ questionList[currentQuestion]?.questionText }}</h3>-->
    <h3>test</h3>
    <app-exercises-list [exercises]="exercisesClass5$ | async"></app-exercises-list>
</div>

<div class="options" *ngFor='let option of sortAnswerOptions(
    this.questionList[this.currentQuestion]?.options
  ); let i = index'>
    <ul class="answerList">
        <li (click)="answer(option)" class="answerListItem">
            <button appChangeBg [isCorrect]="option.correct" id="{{ 'option' + i }}" class="answerButton btn" [disabled]="isAnswered">
                {{ option.text }}
            </button>
        </li>
    </ul>
  </div>