ul {
  list-style-type: none;
  margin: 0 -16px;

  overflow: hidden;

  li {
    margin: 0 16px;

    button {
      height: 30px;
      color: black;

      &:not([disabled]):focus {
        background-color: var(--clr-primary-lighter);
      }
    }
  }
}
button {
  position: relative;
}

.star {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 12px;
  right: 10px;
}
