<div class="header">
  <h1 class="headerTitle">Wähle ein Kapitel</h1>
</div>
<div class="main">
  <ul>
    <li *ngFor="let chapter of chapters" (click)="selectChapter(chapter)">
      <button class="btn btnList" [disabled]="chapter.disabled">
        {{ chapter.chapterNumber }}.<span>{{ chapter.chapterName }}</span>
      </button>
    </li>
  </ul>
  <p>
    Dein Thema ist nicht dabei? <br />
    Dann <a href="https://diematheapp.de/kontakt.html">schreib uns</a>.
  </p>
  <p><a routerLink="/menu">Zurück zum Hauptmenü</a></p>
</div>
