<div class="header">
  <h1 class="headerTitle">Wähle ein Kapitel</h1>
</div>
<div class="main">
  <ul>
    <li *ngFor="let chapter of chapters" (click)="selectChapter(chapter)">
      <button
        class="btn btnList"
        [disabled]="chapter.disabled"
        *ngIf="chapter.chapterNumber < 99; else allChapters"
      >
        {{ chapter.chapterNumber }}.<span>{{ chapter.chapterName }}</span>
      </button>
      <ng-template #allChapters>
        <button class="btn btnList" [disabled]="chapter.disabled">
          {{ chapter.chapterName }}
        </button>
      </ng-template>
    </li>
  </ul>
  <button class="btn btn-secondary" routerLink="/menu">
    Zurück zum Hauptmenü
  </button>
</div>
