<div class="header">
  <h1 class="headerTitle" *ngIf="shared.mode === 'quiz'">
    Frage
    {{ quizRecord.userQuestion + 1 }} ({{ shared.correctAnswer }}/{{
      shared.correctAnswer + shared.incorrectAnswer
    }})
  </h1>
  <h1 class="headerTitle" *ngIf="shared.mode === 'practice'">
    {{ this.shared.topic }} {{ this.shared.chosenLevel }}:
    {{ quizRecord.currentQuestion + 1 }}/{{ this.shared.totalSessionQuestions }}
  </h1>
  <span id="studentId">ID: {{ this.shared.studentData.studentId }}</span>
  <div id="countdown" *ngIf="shared.mode === 'quiz'">
    {{ this.shared.counter | countDown }}
  </div>
</div>

<div class="main">
  <div *ngIf="this.shared.mode === 'practice'">
    <div class="question">
      <p [mathjax]="question"></p>
    </div>
    <form (ngSubmit)="onSubmitAnswer(f)" #f="ngForm">
      <div>
        <input
          class="answerText"
          type="number"
          id="givenAnswer"
          name="givenAnswer"
          placeholder=""
          [(ngModel)]="givenAnswer"
          [disabled]="isDisabled"
          required
          autofocus
          autocomplete="off"
        />
      </div>
      <button class="btn classBtn" type="submit" [disabled]="isDisabled">
        Antwort prüfen
      </button>
    </form>
  </div>

  <div *ngIf="this.shared.mode === 'quiz'">
    <ng-container *ngIf="exercises$ | async as exercises; else loading">
      <div class="question">
        <p [mathjax]="exercises[quizRecord.currentQuestion].question"></p>
        <div
          class="img-wrapper"
          *ngIf="exercises[quizRecord.currentQuestion].img"
        >
          <img class="questionImg" [src]="getSrc()" />
        </div>
      </div>
      <div
        class="options"
        *ngIf="exercises[quizRecord.currentQuestion].answerType === 'mc'"
      >
        <ul class="answerList">
          <li
            *ngFor="
              let option of exercises[quizRecord.currentQuestion].answerOptions;
              let i = index
            "
            class="answerListItem"
            (click)="
              onClickAnswer(option, exercises[quizRecord.currentQuestion])
            "
          >
            <button
              [id]="'option' + i"
              class="answerButton btn"
              [disabled]="isDisabled"
              [mathjax]="option.answerText"
            ></button>
          </li>
        </ul>
      </div>

      <form
        (ngSubmit)="onSubmitAnswer(f, exercises[quizRecord.currentQuestion])"
        #f="ngForm"
        *ngIf="exercises[quizRecord.currentQuestion].answerType === 'integer'"
      >
        <div>
          <input
            class="answerText"
            type="text"
            id="givenAnswer"
            name="givenAnswer"
            placeholder=""
            [(ngModel)]="givenAnswer"
            [disabled]="isDisabled"
            required
            autofocus
            autocomplete="off"
            [hasUnit]="exercises[quizRecord.currentQuestion].unit"
            [ngStyle]="{
              width: exercises[quizRecord.currentQuestion].unit ? '80%' : '100%'
            }"
          />
          <p
            class="unit"
            *ngIf="exercises[quizRecord.currentQuestion].unit"
            [mathjax]="exercises[quizRecord.currentQuestion].unit"
          ></p>
        </div>
        <button class="btn classBtn" type="submit" [disabled]="isDisabled">
          Antwort prüfen
        </button>
      </form>
      <form
        (ngSubmit)="onSubmitAnswer(f, exercises[quizRecord.currentQuestion])"
        #f="ngForm"
        *ngIf="exercises[quizRecord.currentQuestion].answerType === 'fraction'"
      >
        <div class="tableWrapper">
          <table>
            <tbody>
              <tr>
                <td>
                  <input
                    type="text"
                    id="numerator"
                    name="numerator"
                    [(ngModel)]="numerator"
                    required
                    autocomplete="off"
                    [disabled]="isDisabled"
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <input
                    type="text"
                    id="denominator"
                    name="denominator"
                    [(ngModel)]="denominator"
                    required
                    autocomplete="off"
                    [disabled]="isDisabled"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <button class="btn classBtn" type="submit" [disabled]="isDisabled">
          Antwort prüfen
        </button>
      </form>

      <!--
      <app-exercise-fraction
        *ngIf="exercises[quizRecord.currentQuestion].answerType === 'fraction'"
        [exercises]="exercises"
        (submitAnswer)="onSubmitAnswer(exercises[quizRecord.currentQuestion])"
      ></app-exercise-fraction>
      -->

      <form
        (ngSubmit)="onSubmitAnswer(f, exercises[quizRecord.currentQuestion])"
        #f="ngForm"
        *ngIf="exercises[quizRecord.currentQuestion].answerType === 'dynamic'"
      >
        <input
          class="answerText"
          type="text"
          id="givenAnswer"
          name="givenAnswer"
          placeholder=""
          [(ngModel)]="givenAnswer"
          [disabled]="isDisabled"
          required
          autofocus
        />
        <ng-template #streak>
          <p class="correctText feedback">
            Richtig! {{ quizRecord.streakCount }} in Folge!
          </p>
        </ng-template>

        <button class="btn classBtn" type="submit" [disabled]="isDisabled">
          Antwort prüfen
        </button>
      </form>
    </ng-container>

    <ng-template #loading>
      <p class="loading">Lade die nächste Aufgabe ...</p>
    </ng-template>
  </div>
  <div class="feedback-wrapper" *ngIf="feedbackIsShown()">
    <div *ngIf="isCorrect; else incorrectAnswer" class="correct">
      <p
        *ngIf="quizRecord.streakCount < 2; else streak"
        class="correctText feedback"
      >
        Richtig!
      </p>
      <ng-template #streak>
        <p class="correctText feedback">
          Richtig! {{ quizRecord.streakCount }} in Folge!
        </p>
      </ng-template>
    </div>
    <ng-template #incorrectAnswer class="wrong">
      <div>
        <div class="incorrectText feedback">
          <p>{{ lastAnswer }} ist leider falsch!</p>
        </div>
      </div>
    </ng-template>
  </div>

  <div *ngIf="attempts >= maxAttempts && !isCorrect">
    <div *ngIf="this.shared.mode === 'quiz'">
      <p
        *ngIf="
          exercises[quizRecord.currentQuestion].answerType === 'integer' ||
          exercises[quizRecord.currentQuestion].answerType === 'dynamic'
        "
      >
        Die richtige Antwort wäre
        {{ exercises[quizRecord.currentQuestion].correctAnswer }} gewesen.
      </p>
      <div
        *ngIf="exercises[quizRecord.currentQuestion].answerType === 'fraction'"
      >
        <p>
          Die richtige Antwort wäre
          {{
            exercises[quizRecord.currentQuestion].correctAnswerFraction
              .numerator
          }}
          /
          {{
            exercises[quizRecord.currentQuestion].correctAnswerFraction
              .denominator
          }}
          gewesen.
        </p>
      </div>
    </div>
    <p *ngIf="this.shared.mode === 'practice'">
      Die richtige Antwort wäre {{ answer }} gewesen.
    </p>
  </div>
  <!--
  <a
    *ngIf="attempts >= maxAttempts && !isCorrect"
    (click)="showHint = !showHint"
    >{{ showHint ? "Lösungsweg ausblenden" : "Lösungsweg anzeigen" }}</a
  >
  <div *ngIf="showHint">
    <div *ngFor="let step of exercises[quizRecord.currentQuestion].steps">
      <p class="hint" [mathjax]="step"></p>
    </div>
  </div>
  -->
  <button
    *ngIf="this.showNextButton"
    class="btn classBtn"
    (click)="nextExercise()"
    type="submit"
  >
    {{
      quizRecord.currentQuestion === shared.totalSessionQuestions - 1 &&
      shared.mode === "practice"
        ? "Ergebnis ansehen"
        : "Nächste Frage"
    }}
  </button>
  <div class="links-container">
    <a class="left-link" routerLink="/resultpage">Abbrechen</a>
    <a *ngIf="!this.showNextButton" class="right-link" (click)="skipExercise()"
      >Aufgabe überspringen</a
    >
  </div>
</div>
