<div class="header">
  <h1 class="headerTitle">Gib den Code ein</h1>
</div>
Dein/e Lehrer*in gibt dir den Code, sobald alle Schüler*innen bereit sind. Tipp:
Leg dir Papier und Stift für Nebenrechnungen bereit.
<form (ngSubmit)="submitCode(f)" #f="ngForm">
  <input
    class="code-input"
    type="number"
    id="code"
    name="code"
    ngModel
    required
  />
  <button class="btn classBtn" type="submit" [disabled]="!f.valid">
    Start Quiz
  </button>
</form>
<p *ngIf="wrongCode">Der Code ist leider falsch. Bitte versuche es erneut.</p>
<p *ngIf="wrongCodeCounter >= 10">Du gibst wohl nicht so leicht auf :)</p>
