<div class="header">
  <h1 class="headerTitle">
    Level {{ this.shared.currentLevel[this.shared.topic] }} geschafft
  </h1>
</div>
<div class="main">
  <div class="results">
    <p>Geschafft!</p>

    <div class="imgContainer">
      <img [src]="getStars()" id="starsGif" class="starsGif" />
    </div>
    <div class="resultContainer">
      <div class="bigNumber">
        {{ this.shared.correctAnswer }}/{{
          this.shared.correctAnswer + this.shared.incorrectAnswer
        }}
      </div>
      <p class="labelBigNumber">Fragen richtig beantwortet</p>
    </div>
  </div>
  <button class="btn classBtn" routerLink="/levelpage">Nächstes Level</button>
</div>

<!--
<div *ngIf="!selfReflectionGiven">
  <p>
    Wie zufrieden bist du mit deinem Ergebnis auf einer Skala von 0 (überhaupt
    nicht zufrieden) bis 10 (sehr zufrieden)
  </p>
  <form (ngSubmit)="onSubmitSelfReflection(f)" #f="ngForm">
    <input
      class="answerText"
      type="number"
      min="0"
      max="10"
      id="selfReflection"
      name="selfReflection"
      placeholder=""
      [(ngModel)]="selfReflection"
    />
    <button class="btn classBtn" type="submit">Abschicken</button>
  </form>
</div>
<p *ngIf="selfReflectionGiven">Danke fürs Mitmachen.</p>
-->
