<div class="header">
  <h1 class="headerTitle">Dein Ergebnis</h1>
  <span id="studentId">ID: {{ this.shared.studentData.studentId }}</span>
</div>
<div class="main">
  <p *ngIf="shared.mode === 'practice'">
    {{ this.shared.topic }}: Level {{ this.shared.chosenLevel }}
  </p>
  <div class="results">
    <div class="imgContainer">
      <img [src]="getStars()" id="starsGif" class="starsGif" />
    </div>
    <div class="resultContainer">
      <div class="bigNumber">
        {{ this.shared.correctAnswer }}/{{
          this.shared.correctAnswer + this.shared.incorrectAnswer
        }}
      </div>
      <p class="labelBigNumber">Fragen richtig beantwortet<br /></p>
    </div>
  </div>
  <button
    class="btn classBtn"
    routerLink="/levelpage"
    *ngIf="shared.mode === 'practice'"
  >
    Nächstes Level
  </button>
  <button
    class="btn classBtn"
    routerLink="/menu"
    *ngIf="shared.mode !== 'practice'"
  >
    Zum Menü
  </button>
</div>
