<div class="header">
  <h1 class="headerTitle">Dein Ergebnis</h1>
</div>

<div class="results">
  <p>Geschafft!</p>

  <div class="imgContainer">
    <img [src]="getStars()" id="starsGif" class="starsGif" />
  </div>
  <div class="resultContainer">
    <div class="bigNumber">
      {{ this.shared.correctAnswer }}/{{
        this.shared.correctAnswer + this.shared.incorrectAnswer
      }}
    </div>
    <p class="labelBigNumber">Fragen richtig beantwortet</p>
  </div>
</div>

<div
  *ngIf="
    this.shared.correctPuzzles + this.shared.incorrectPuzzles > 0;
    else noPuzzles
  "
>
  <p *ngIf="this.shared.correctPuzzles > 0; else noCorrectPuzzles">
    Du hast {{ this.shared.correctPuzzles }} von
    {{ this.shared.correctPuzzles + this.shared.incorrectPuzzles }} Bonusfragen
    richtig beantwortet.
  </p>
  <ng-template #noCorrectPuzzles>
    Du hast
    {{ this.shared.correctPuzzles + this.shared.incorrectPuzzles }} Bonusfragen
    probiert.
  </ng-template>
</div>
<ng-template #noPuzzles>
  <div *ngIf="percentage < 50">
    <p>Du hast doch geraten, oder?</p>
  </div>

  <p *ngIf="percentage >= 50 && percentage < 75">
    Schau dir die Aufgaben noch mal an, da waren noch ein paar Fehler dabei.
  </p>

  <p *ngIf="percentage >= 75 && percentage < 90">Das war schon ganz gut.</p>

  <div *ngIf="percentage >= 90 && percentage < 100">
    <p>Sehr gut. Du kannst mit deiner Leistung wirklich zufrieden sein.</p>
  </div>

  <div *ngIf="percentage === 100">
    <p>Das war perfekt! Bist du Einstein?</p>
  </div>

  <button class="btn menuBtn" routerLink="/puzzle">Bonusfragen</button>
</ng-template>
