<div class="header">
  <h1 class="headerTitle">Klasse!</h1>
</div>

<div class="results">
  <p>Geschafft!</p>

  <div class="imgContainer">
    <img [src]="getStars()" id="starsGif" class="starsGif" />
  </div>
  <div class="resultContainer">
    <div class="bigNumber">
      {{ this.shared.correctPuzzles }}/{{
        this.shared.correctPuzzles + this.shared.incorrectPuzzles
      }}
    </div>
    <p class="labelBigNumber">Bonusfragen richtig beantwortet</p>
  </div>
</div>

<div *ngIf="this.shared.correctPuzzles === 0">
  <p>
    Die waren aber auch schwierig. Lass dich nicht entmutigen. Beim nächsten Mal
    schaffst du bestimmt schon ein paar.
  </p>
</div>

<div *ngIf="this.shared.correctPuzzles > 0 && this.shared.incorrectPuzzles > 0">
  <p>Gut gemacht. Beim nächsten Mal schaffst du alle.</p>
</div>

<div *ngIf="this.shared.incorrectPuzzles === 0">
  <p>Klasse. Das war eine Meisterleistung!</p>
</div>
