<!--
    <div *ngFor="let exercise of exercises">
    <p *ngFor="let answer of exercise.answers">
        {{answer}}</p>
</div>
-->

<div *ngFor="let exercise of exercises">
    <div *ngFor="let answer of exercise.answers; let i = index">
        <ul class="answerList">
            <!--<li class="answerListItem" (click)="answer(option)">-->
            <li class="answerListItem" (click)="answer2(5)">
                <button id="{{ 'option' + i }}" class="answerButton btn">{{option}}{{answer}}</button></li>
            </ul>
        </div>
</div>

<!--
<div *ngfor="let exercise of exercises">
    <div class="options" *ngFor='let answer of exercise.answers; let i = index'>
        <ul class="answerList">
            <li (click)="answer(option)" class="answerListItem">
                <button appChangeBg [isCorrect]="option.correct" id="{{ 'option' + i }}" class="answerButton btn" [disabled]="isAnswered">
                    {{ option.text }}
                </button>
            </li>
        </ul>
    </div>
</div>
-->
