.questionNo {
    padding: 0 8px;
}

.questionNo {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 0.8em;
}

h3 {
    font-size: 0.8em;
}

#option0 {
    background-color : hsl(350, 100%, 70%);
}

#option0:hover {
    background-color : hsl(350, 100%, 60%);
}

#option1 {
    background-color: hsl(210, 100%, 55%);
}

#option1:hover {
    background-color: hsl(210, 100%, 45%);
}

#option2 {
    background-color: hsl(150, 72%, 63%);
}

#option2:hover {
    background-color: hsl(150, 72%, 43%);
}

#option3 {
    background-color: hsl(50, 100%, 50%);
}

#option3:hover {
    background-color: hsl(50, 100%, 35%);
}

button:hover {
    transform: scale(1.02) perspective(1px);
    cursor: pointer;
    color: white
}