<div class="header">
  <h1 class="headerTitle">Wähle deine Klasse</h1>
</div>
<div class="main">
  <ul>
    <li>
      <button class="btn btnList classBtn" (click)="selectSchoolClassName('a')">
        Klasse {{ this.shared.schoolClass }}a
      </button>
    </li>
    <li>
      <button class="btn btnList classBtn" (click)="selectSchoolClassName('b')">
        Klasse {{ this.shared.schoolClass }}b
      </button>
    </li>
    <li>
      <button class="btn btnList classBtn" (click)="selectSchoolClassName('c')">
        Klasse {{ this.shared.schoolClass }}c
      </button>
    </li>
    <li>
      <button class="btn btnList classBtn" (click)="selectSchoolClassName('d')">
        Klasse {{ this.shared.schoolClass }}d
      </button>
    </li>
  </ul>
</div>
