<div class="header">
  <h1 class="headerTitle">Frage {{ currentQuestion + 1 }}</h1>
</div>
<p class="question">{{ question }}</p>
<form (ngSubmit)="onClickAnswer(f)" #f="ngForm">
  <input
    class="answerText"
    type="text"
    id="givenAnswer"
    name="givenAnswer"
    [(placeholder)]="placeholder"
    [(ngModel)]="givenAnswer"
    [(value)]="value"
    required
    autofocus
  />
  <button class="btn classBtn" type="submit">Antwort prüfen</button>
  <p>Richtige Antworten: {{ countCorrectAnswers }}</p>
  <p>Falsche Antworten: {{ currentQuestion - countCorrectAnswers }}</p>
</form>
