<div class="header">
  <h1 class="headerTitle">{{ header }}</h1>
</div>
<div class="main">
  <ng-container *ngIf="quiz$ | async as quiz">
    <p class="quiz-intro-text">
      Das Quiz enthält {{ quiz.maxQuestions }} Aufgaben. Du hast
      {{ quiz.maxTime }} min Zeit, um die Fragen zu beantworten. Danach siehst
      du dein Ergebnis.
    </p>
    <p class="hint">Bitte verlasse die Seite währenddessen nicht.</p>
    <p>Bereit?</p>
    <button class="btn btn-primary" routerLink="/exercise">Los geht's</button>
  </ng-container>
</div>
