<div class="header">
  <h1 class="headerTitle">Quiz</h1>
  <span id="studentId">ID: {{ this.shared.studentData.studentId }}</span>
</div>
<div class="main">
  <ng-container *ngIf="quizTemplates$ | async as quizTemplates; else loading">
    <ul>
      <li *ngFor="let quizTemplate of quizTemplates">
        <p>
          Quiz zu Kapitel {{ quizTemplate.books[0].chapters[0].chapter }}/{{
            quizTemplate.books[0].chapters[0].subChapters[0]
          }}
        </p>
        <button class="btn classBtn" routerLink="/quiz-intro">
          Los geht's
        </button>
      </li>
    </ul>
  </ng-container>
  <!--
  <ng-container *ngIf="schoolClass$ | async as schoolClass">
    <p>Schulklasse</p>
    <p>{{ schoolClass.schoolYear }}</p>
    <p>{{ schoolClass.className }}</p>
    <ul>
      <li *ngFor="let quizTemplateId of schoolClass.quizTemplateIds">
        <p>{{ quizTemplateId }}</p>
      </li>
    </ul>
  </ng-container>
  <ng-container *ngIf="student$ | async as student">
    <p>StudentId: {{ student.studentId }}</p>
  </ng-container>
  <ng-container *ngIf="schoolClass2$ | async as schoolClass2">
    <p>SchoolClass 2</p>
    <p>{{ schoolClass2.className }}</p>
  </ng-container>
  -->

  <!--
  <ng-container *ngIf="quizzes$ | async as quizzes; else loading">
    <ul>
      <li *ngFor="let quiz of quizzes">
        <button
          class="btn classBtn"
          [disabled]="quiz.disabled"
          routerLink="/quiz-intro"
        >
          Quiz {{ quiz.quizNumber }} ({{
            quiz.startTime.toDate() | date : "shortDate" : "de-DE"
          }})
        </button>
      </li>
    </ul>
  </ng-container>
  -->
  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>
</div>
