<div class="header">
  <h1 class="headerTitle">Quiz</h1>
</div>
<div class="main">
  <ng-container *ngIf="quizzes$ | async as quizzes; else loading">
    <ul>
      <li *ngFor="let quiz of quizzes">
        <button
          class="btn classBtn"
          [disabled]="quiz.disabled"
          routerLink="/quiz-intro"
        >
          Quiz {{ quiz.quizNumber }} ({{
            quiz.startTime.toDate() | date: "shortDate":"de-DE"
          }})
        </button>
      </li>
    </ul>
  </ng-container>
  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>
</div>
