<div class="header">
  <h1 class="headerTitle">DieMatheApp</h1>
</div>
<div class="main">
  <div *ngIf="!idWasGenerated">
    <p>Gib bitte deine ID (6 Ziffern) ein.</p>
    <form (ngSubmit)="submitId(f)" #f="ngForm">
      <input
        class="studentId-input"
        type="number"
        id="studentIdInput"
        name="studentId"
        [(ngModel)]="defaultStudentId"
        required
      />
      <button class="btn classBtn" type="submit" [disabled]="!f.valid">
        Los geht's
      </button>
    </form>
    <div *ngIf="!validStudentId; else start">
      <p>
        Die ID ist leider falsch. Bitte versuche es nochmal. Tipp: Die ID hat 6
        Ziffern.
      </p>
      <p style="margin-top: 20px">
        Wenn du deine ID nicht mehr weißt, kannst du auch eine neue erstellen.
      </p>
    </div>

    <ng-template #start>
      <p style="margin-top: 20px">
        Wenn du noch keine ID hast, dann erstell dir eine.
      </p></ng-template
    >
    <a (click)="generateId()">ID erstellen</a>
  </div>

  <div *ngIf="idWasGenerated">
    <p>
      Bitte schreib dir folgende ID auf. Damit kannst du dich das nächste Mal
      anmelden.
    </p>
    <h2 style="text-align: center">{{ this.shared.getStudentId() }}</h2>
    <button class="btn classBtn" (click)="goToClassSelection()">
      Los geht's
    </button>
  </div>
</div>
