<ng-container *ngIf="exercises$ | async as exercises; else loading">
  <div class="question">
    <p [mathjax]="exercises[currentQuestion].question"></p>
    <div class="img-wrapper" *ngIf="exercises[currentQuestion].img">
      <img class="questionImg" [src]="getSrc()" />
    </div>
  </div>
  <div class="options" *ngIf="exercises[currentQuestion].answerType === 'mc'">
    <ul class="answerList">
      <li
        *ngFor="
          let option of exercises[currentQuestion].answerOptions;
          let i = index
        "
        class="answerListItem"
        (click)="onClickAnswer(option, exercises[currentQuestion])"
      >
        <button
          [id]="'option' + i"
          class="answerButton btn"
          [disabled]="isDisabled"
          [mathjax]="option.answerText"
        ></button>
      </li>
    </ul>
  </div>

  <form
    (ngSubmit)="submit(f, exercises[currentQuestion])"
    #f="ngForm"
    *ngIf="exercises[currentQuestion].answerType === 'integer'"
  >
    <div>
      <input
        class="answerText"
        type="text"
        id="givenAnswer"
        name="givenAnswer"
        placeholder=""
        [(ngModel)]="givenAnswer"
        [disabled]="isDisabled"
        required
        autofocus
        autocomplete="off"
        [hasUnit]="exercises[currentQuestion].unit"
        (focus)="onFocusEvent($event)"
        [ngStyle]="{
          width: exercises[currentQuestion].unit ? '80%' : '100%'
        }"
      />
      <p
        class="unit"
        *ngIf="exercises[currentQuestion].unit"
        [mathjax]="exercises[currentQuestion].unit"
      ></p>
    </div>
    <button class="btn classBtn" type="submit" [disabled]="isDisabled">
      Antwort prüfen
    </button>
  </form>

  <form
    (ngSubmit)="onSubmitAnswer(f, exercises[currentQuestion])"
    #f="ngForm"
    *ngIf="exercises[currentQuestion].answerType === 'fraction'"
  >
    <div class="tableWrapper">
      <table>
        <tbody>
          <tr>
            <td>
              <input
                type="text"
                id="numerator"
                name="numerator"
                [(ngModel)]="numerator"
                required
                autocomplete="off"
                [disabled]="isDisabled"
                (focus)="onFocusEvent($event)"
              />
            </td>
          </tr>
          <tr>
            <td>
              <input
                type="text"
                id="denominator"
                name="denominator"
                [(ngModel)]="denominator"
                required
                autocomplete="off"
                [disabled]="isDisabled"
                (focus)="onFocusEvent($event)"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <button class="btn classBtn" type="submit" [disabled]="isDisabled">
      Antwort prüfen
    </button>
  </form>

  <form
    (ngSubmit)="onSubmitAnswer(f, exercises[currentQuestion])"
    #f="ngForm"
    *ngIf="exercises[currentQuestion].answerType === 'dynamic'"
  >
    <input
      class="answerText"
      type="text"
      id="givenAnswer"
      name="givenAnswer"
      placeholder=""
      [(ngModel)]="givenAnswer"
      [disabled]="isDisabled"
      required
      autofocus
      (focus)="onFocusEvent($event)"
    />
    <ng-template #streak>
      <p class="correctText feedback">Richtig! {{ streakCount }} in Folge!</p>
    </ng-template>

    <button class="btn classBtn" type="submit" [disabled]="isDisabled">
      Antwort prüfen
    </button>
  </form>
</ng-container>
<ng-template #loading>
  <p class="loading">Lade die nächste Aufgabe ...</p>
</ng-template>
