<div class="header">
  <h1 class="headerTitle">
    {{ this.shared.topic }}
  </h1>
  <span id="studentId">ID: {{ this.shared.studentData.studentId }}</span>
</div>

<div class="main">
  <p>
    Jedes Level besteht aus 10 Fragen, wenn du mindestens 6 Fragen richtig hast,
    wird das nächste Level freigeschaltet.
  </p>
  <ul>
    <li *ngFor="let level of levels">
      <button
        class="btn classBtn btnList"
        [disabled]="level.level > this.shared.currentLevel[this.shared.topic]"
        (click)="goToDynamicExercise(level)"
      >
        Level {{ level.level }}
        <img
          src="assets/img/star.png"
          class="star"
          *ngIf="
            this.shared.levelStars[this.shared.topic][level.level - 1] >= 1
          "
        />
        <img
          style="right: 30px"
          src="assets/img/star.png"
          class="star"
          *ngIf="
            this.shared.levelStars[this.shared.topic][level.level - 1] >= 2
          "
        />
        <img
          style="right: 50px"
          src="assets/img/star.png"
          class="star"
          *ngIf="
            this.shared.levelStars[this.shared.topic][level.level - 1] >= 3
          "
        />
        <img
          style="right: 70px"
          src="assets/img/star.png"
          class="star"
          *ngIf="
            this.shared.levelStars[this.shared.topic][level.level - 1] >= 4
          "
        />
        <img
          style="right: 90px"
          src="assets/img/star.png"
          class="star"
          *ngIf="
            this.shared.levelStars[this.shared.topic][level.level - 1] >= 5
          "
        />
      </button>
    </li>
  </ul>
  <p><a routerLink="/topics">Wähle ein anderes Thema</a></p>
</div>
