
.imgContainer {
    width: 100%;
    text-align: center;
    padding-top: 10vh;
}

#iconPng {
    border-radius: 8px;
}

#quote {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    text-align: center;
    margin: 50px 16px 20px;
}

#quoteAuthor {
    font-size: 1.5em;
    font-weight: regular;
    color: darkslategray;
    text-align: center;
    margin-top: 20px;
}